extends layout

block content
    title='Pokemon Center - Dashboard'
    div(class='text-center center-div' id='dashboard')
        div(class='container w-25 border py-3')
            img(src='/images/logo_trans.png' class='w-50')
            h3 Welcome #{locals.user ? locals.user.username.split('@')[0] : 'User'}
            h6 #{'Your average rating is ' + average.toFixed(2)}
            if(!locals.courier)
                a(href='/pickup' style='padding-left: 20px;') Order Pokemon
                a(href='/pictures' style='padding-left: 20px;') Rate a Pokemon
                a(href='/pickup/userOrder' style='padding-left: 20px;') Your Pokemon orders
            if(locals.courier)
                a(href='/pickup/list' style='padding-left: 20px;') Available Pokemon List
                a(href='/pickup/myOrder' style='padding-left: 20px;') Your Pokemon List
                a(href='/pickup/today' style='padding-left: 20px;') Todays Pokemon list
            a(href='/ratingsList' style='padding-left: 20px;') Rating Details
            if(!locals.courier)
                br
                h5 Number of orders:
                span #{pickupamount} out of 100
                    div(class='progress')
                        div(class='progress-bar progress-bar-striped progress-bar-animated' style=('width:' + pickupamount + '%') role='progressbar' aria-valuenow="0" aria-valuemin="0" aria-valuemax="100")
                            =pickupamount
            if(ratings.length > 0)
                h5 Your latest ratings
                    table(style='width:100%' class='center')
                        th Rating
                        th Comment
                        for rating in ratings
                            tr
                                td= rating.rating
                                td= rating.comment
